<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bszn.monitor.agentServerConfig.AgentServerConfigMapper">

    <resultMap id="BaseResultMap" type="com.bszn.monitor.agentConfig.AgentConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="isNginx" column="is_nginx" jdbcType="TINYINT"/>
            <result property="nginxPath" column="nginx_path" jdbcType="VARCHAR"/>
            <result property="serviceId" column="service_id" jdbcType="INTEGER"/>
            <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
            <result property="workPath" column="work_path" jdbcType="VARCHAR"/>
            <result property="logPath" column="log_path" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_nginx,nginx_path,
        service_id,service_name,work_path,
        log_path,update_time,create_time
    </sql>
</mapper>
