<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bszn.monitor.chart.ChartMapper">

    <select id="chartList" resultType="com.bszn.monitor.chart.ChartBO">
        SELECT ${valueColumn} AS value, CREATE_TIME AS time,hostname
        FROM ${tableName}
        <where>
            <if test="chartDto != null and chartDto.serviceId != null">
                AND service_id = #{chartDto.serviceId}
            </if>
            <if test="chartDto != null and chartDto.hostname != null and chartDto.hostname != ''">
                AND hostname = #{chartDto.hostname}
            </if>
            <if test="chartDto != null and chartDto.startTime != null">
                AND create_time &gt;= #{chartDto.startTime}
            </if>
            <if test="chartDto != null and chartDto.endTime != null">
                AND create_time &lt;= #{chartDto.endTime}
            </if>
        </where>
    </select>

</mapper>
